<ol class="nav nav-pills">
    <li data-tab="data1" class="active"><a href="#">Data1</a></li>
    <li data-tab="data1"><a href="#">Data2</a></li>
    <li data-tab="data1"><a href="#">Data3</a></li>
    <li data-tab="data1" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data4<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a>This</a></li>
            <li><a>That</a></li>
            <li><a>There</a></li>
        </ul>
    </li>
</ol>

<!--
<div id="data1">
    Data1
</div>
<div id="data2">
    Data2
</div>
<div id="data3">
    Data3
</div>
<div id="data4">
    Data4
</div>
-->