<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>AngularJS Demo</title>
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="bootstrap-theme.css" rel="stylesheet">
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("exampleApp",[])
                .controller("defaultCtrl",function($scope){
                    $scope.data = {};
                    $scope.todos = [
                        {action:"Get Groceries",complete:false},
                        {action:"Call Plumber",complete:true},
                        {action:"Buy Shoes",complete:false},
                        {action:"Buy Flowers",complete:false},
                        {action:"Call Family",complete:false}];
                });
    </script>

</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>
    <div class="well">
        <div class="radio" ng-repeat="button in ['None','Table','List']">
            <label ng-cloak>
                <input type="radio" ng-model="data.mode" name="radio"
                        value="{{button}}" ng-checked="$first"/>
                {{button}}
            </label>
        </div>
    </div>
    <div ng-switch on="data.mode" ng-cloak>       <!-- Cloak for slower browsers -->
        <div ng-switch-when="Table">
            <table class="table">
                <tbody>
                <thead>
                <tr>
                    <th>#</th><th>Action</th><th>Done</th>
                </tr>
                </thead>
                <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
                    <td>{{$index+1}}</td>
                    <td ng-repeat="prop in item">
                        {{prop}}
                    </td>
                </tr>
            </table>
        </div>
        <div ng-switch-when="List">
            <ol>
                <li ng-repeat="item in todos">
                    {{item.action}}
                    <span ng-if="item.complete">(Done)</span>
                </li>
            </ol>
        </div>
        <div ng-switch-default>
            Select Another Option
        </div>
    </div>
</div>
</body>
</html>