<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>AngularJS Demo</title>
    <link href="bootstrap.css" rel="stylesheet"/>
    <link href="bootstrap-theme.css" rel="stylesheet">
    <script src="angular.js"></script>
    <script>
        var myApp = angular.module("exampleApp",[])
                .controller("defaultCtrl",function($scope){
                    $scope.todos = [
                        {action:"Get Groceries",complete:false},
                        {action:"Call Plumber",complete:true},
                        {action:"Buy Shoes",complete:false},
                        {action:"Buy Flowers",complete:false},
                        {action:"Call Family",complete:false}];
                });
    </script>
    <style>
        .odd{background-color: #00aad4}
        .even{background-color: #00f279
        }
    </style>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header">To Do List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Done</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'"> <!-- Use of odd/even -->
                <td>{{$index+1}}</td>
                <td ng-repeat="prop in item">
                    {{prop}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>